{% extends "base.html" %}

{% block title %}Landing Page/HomePage{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!

<!-- poate asta e util pe /profile, momentan las aici-->
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
<p><a href="{% url 'password_change' %}">Password Change</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

<h1>All Posts</h1>
<ul>
  {% for post in posts %}
  <li>
    <a href="{% url 'post_by_id' post.id %}">{{ post.title }}</a> by {{ post.author.username }}
  </li>
  {% endfor %}
</ul>
{% endblock %}