{% extends "base.html" %}
{% load static %}
{% block title %}Account{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/messages.css'%}">
{% endblock %}

{% block content %}

{% include 'widgets/navbar.html' %}
    

<div class="container-fluid d-flex align-items-center justify-content-center bg-light pt-5"
    style="height: 100vh;">
    <div class="contacts bg-white shadow rounded"
        style="width: 50%; max-width: 600px; height: 80%; overflow-y: auto; padding: 20px;">
        <h2 class="text-center text-primary mb-4">Contacts</h2>
        <ul class="list-group">
            {% for contact in contacts %}
            <li class="list-group-item d-flex align-items-center py-3">
                <div class="avatar bg-primary text-white rounded-circle d-flex align-items-center justify-content-center"
                    style="width: 50px; height: 50px; font-size: 20px; margin-right: 15px;">
                    {{ contact.username|slice:":1"|upper }}
                </div>
                <a href="{% url 'conversation' contact.id %}" class="text-decoration-none text-dark flex-grow-1">
                    <strong>{{ contact.username }}</strong>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>



{% endblock %}