<nav class="navbar">
    <!-- Left side: SkillTrade -->
    <a class="navbar-brand" href="/">SkillTrade</a>

    <!-- Center: Search bar with icon -->
    <form class="search-wrapper">


        <i class="search-icon fas fa-search"></i>

        <input type="text" id="search" class="search-input" placeholder="Search">



    </form>

    <!-- Right side: Icons in a row -->
    <div class="icons">
        <a href="/messages" class="icon">
            <i class="fas fa-comment fa-lg"></i> <!-- Message icon -->
        </a>
        <a href="/requests" class="icon">
            <i class="fas fa-heart fa-lg"></i> <!-- Heart icon -->
        </a>
        <a href="/account" class="icon">
            <i class="fas fa-user fa-lg"></i> <!-- Person icon -->
        </a>
    </div>
</nav>