<nav class="navbar">
    <!-- Left side: SkillTrade -->
    <a class="navbar-brand" href="/">SkillTrade</a>

    <!-- Center: Search bar with icon -->


        <form method="get" action="/" class="search-wrapper">
        <i class="search-icon fas fa-search"></i>
        <input
            type="text"
            name="search"
            id="search"
            class="search-input"
            placeholder="Search"
            value="{{ query|default:'' }}"
        >
        <button type="submit" style="display: none;">Search</button>
        </form>


    <div class="icons">
        <a href="/messages" class="icon">
            <i class="fas fa-comment fa-lg"></i> <!-- Message icon -->
        </a>
        <a href="/requests" class="icon">
            <i class="fas fa-heart fa-lg"></i> <!-- Heart icon -->
        </a>
        <a href="/account" class="icon">
            <i class="fas fa-user fa-lg"></i> <!-- Person icon -->
        </a>
    </div>
</nav>