{% extends "base.html" %}
{% load static %}

{% block title %}SkillTrade{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
{% include 'widgets/navbar.html' %}
<div style="height: 90px;"></div>



<!-- Posts Grid -->
<div class="container">
  <div class="row g-5">
    {% for post in posts %}
    <div class="col-md-4">
      {% include 'widgets/post_card.html' with post=post %}
    </div>
    {% empty %}
    <div class="col-12 text-center">
      <p>No posts found matching your search.</p>
    </div>
    {% endfor %}
  </div>
</div>

<div style="height: 70px;"></div>

<a href="/posts/new" class="fab">
  <i class="fas fa-plus"></i>
</a>
{% endblock %}
