{% extends "base.html" %}
{% load static %}


{% block title %}SkillTrade{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/home.css'%}">
{% endblock %}

{% block content %}


<h1>All Posts</h1>
<ul>
  {% for post in posts %}
  <div class="post-card">
    <div class="post-header">
      <h2 class="post-title">{{post.title}}</h2>
      <p class="post-author">{{post.author.username}}</p>
    </div>
    <div class="post-body">
      <p class="post-description">
        {{post.content}}
      </p>
      <div class="post-skills">
        <div class="skills-section">
          <h4>Skills I Have:</h4>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Basic JavaScript</li>
          </ul>
        </div>
        <div class="skills-section">
          <h4>Skills I Want to Learn:</h4>
          <ul>
            <li>Advanced JavaScript</li>
            <li>React</li>
            <li>Node.js</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</ul>



<a href="/posts/new" class="fab">
  <i class="fas fa-plus"></i>
</a>
{% endblock %}