/* Basic navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background-color: #f8f9fa;

}

/* Navbar brand */
.navbar-brand {
    font-weight: bold;
    font-size: 35px;
}



.search-wrapper {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.276);
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;
    max-width: 400px;
    height: 50px;

}


#search {
    border: none;
    width: 350px;
    font-size: 20px;
}

#search:focus {
    outline: none;
}

.search-icon {
    margin: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.564);
}


.icons {
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 12px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

.navbar-brand:hover,
.icon:hover,
.active {
    color: #007bff;
    transition: 0.5s;
}


/* Responsive adjustments for smaller screens */
@media (max-width: 820px) {
    .search-wrapper {
        width: 200px;
        height: 40px;
    }

    .icon {
        margin: 0 10px;
        font-size: 18px;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .navbar {
        padding: 0.5em 1em;
    }

    #search,
    .search-icon {
        font-size: 18px;
    }


}

@media (max-width: 576px) {
    .search-wrapper {
        width: 150px;
        height: 35px;
    }

    .icon {
        margin: 0 10px;
        font-size: 15px;
    }

    .navbar-brand {
        font-size: 25px;
    }

    .navbar {
        padding: 0.5em 1em;
    }

    #search,
    .search-icon {
        font-size: 15px;
    }
}