.post-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.post-header {
    padding: 16px;
    background-color: #0054ad;
    color: #fff;
    text-align: center;
}

.post-title {
    margin: 0;
    font-size: 20px;
}

.post-author {
    margin: 5px 0 0;
    font-size: 14px;
    font-style: italic;
}

.post-body {
    padding: 16px;
}

.post-description {
    margin: 0 0 20px;
    color: #555555;
    line-height: 1.5;
}

.post-skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-left {
    width: 100%;
}

.text-left h6 {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.text-left div {
    display: flex;
    flex-wrap: wrap;
}

.text-left a {
    margin: 2px 0;
}